<form (ngSubmit)="emitSearch()"
      #formInfo="ngForm">
  Rover
  <select name="rover"
          [(ngModel)]="data.rover"
          (ngModelChange)="data.camera = undefined"
          required>
    <option [ngValue]="undefined"></option>
    <option *ngFor="let rover of rovers$ |async"
            [ngValue]="rover">{{rover.name}}</option>
  </select>
  -
  <span [class.disabled]="!data.rover">Camera </span>
  <select name="camera" [(ngModel)]="data.camera"
          [disabled]="!data.rover">
    <option [ngValue]="undefined"></option>
    <option *ngFor="let camera of data.rover && data.rover.cameras"
            [ngValue]="camera">{{camera.name}}</option>
  </select>
  -
  Sol
  <input type="number" name="sol" [(ngModel)]="data.sol"
         required>

  &nbsp;&nbsp;
  <button [disabled]="!data.rover"
          (click)="data.sol = data.rover.max_sol">Max sol</button>
  &nbsp;&nbsp;
  <button type="submit"
          [disabled]="formInfo.invalid">Rechercher</button>
</form>
